
{% macro displayNews(news_list) %}



    {% for news in news_list %}
    
    <div class=" panel panel-default col-xs-12 col-sm-4 col-md-2 col-lg-3 movie-card">
        

            <li class="panel-heading" style="list-style: none; font-size: 2rem;">
                <a href="{{news.url}}">
                    {{ news.title}}</a>
            </li>
             
        

   
       <a href="{{news.url}}"><img src="{{news.urlToImage}}" class="img-responsive"  alt=""></a>
       
        <p>{{news.content | truncate(200)}}</p>
    </div>


    

    {% endfor %}

{% endmacro %}

